[Unit]
Description=Show Plymouth-lite Halt Screen
DefaultDependencies=no
Before=halt.service
After=plymouth-lite-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/plymouth-lite /usr/share/plymouth-lite/halt.png -p -m

[Install]
WantedBy=halt.target
