[Unit]
Description=Show Plymouth-lite Halt Screen
DefaultDependencies=no
Before=halt.service
After=plymouth-lite-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/echo 0 > /sys/class/graphics/fbcon/cursor_blink ; /usr/bin/echo 0 > /sys/devices/virtual/graphics/fbcon/cursor_blink ; /usr/bin/plymouth-lite /usr/share/plymouth-lite/halt.png

[Install]
WantedBy=halt.target
