[Unit]
Description=Show Plymouth-lite Poweroff Screen
DefaultDependencies=no
Before=poweroff.service
After=plymouth-lite-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/plymouth-lite /usr/share/plymouth-lite/poweroff.png -p -m

[Install]
WantedBy=poweroff.target
