[Unit]
Description=Show Plymouth-lite Reboot Screen
DefaultDependencies=no
Before=reboot.service
After=plymouth-lite-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/plymouth-lite -i /usr/share/plymouth-lite/reboot.png -p -m

[Install]
WantedBy=reboot.target
