[Unit]
Description=Show Plymouth-lite Start Screen
DefaultDependencies=no
RequiresMountsFor=/run
Before=os-bind.target
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/plymouth-lite -i /usr/share/plymouth-lite/splash.png

[Install]
WantedBy=sysinit.target

